
[Desktop Entry]
Type=Application
Name=UDM Converter
GenericName=File Format Converter
Exec=io.github.silverlan.pfm.udm_convert.sh
Categories=Utility;
